@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-size: 0.875rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
svg {
  background-color: '4B5563';
}

circle {
  fill: none;
  stroke: black;
}
line {
  stroke: black;
  fill: none;
  stroke-width: 1;
}

.tooltip {
  position: absolute;
  /* display: none; */
  background: rgba(194, 74, 74, 0.6);
  border-radius: 3px;
  box-shadow: -3px 3px 15px #888;
  color: white;
  padding: 6px;
  z-index: 999;
}
