@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-size: 0.875rem;
}

svg {
  background-color: '4B5563';
}

circle {
  fill: none;
  stroke: black;
}
line {
  stroke: black;
  fill: none;
  stroke-width: 1;
}
/* .a .axis > line {
  z-index: 999;
} */

.tooltip {
  /* opacity: 1; */
  /* top: -12px; */
  /* left: 0; */
  /* display: none; */
  background: rgba(194, 74, 74, 0.6);
  border-radius: 3px;
}
